.pc {
    height: 100vh;
}
.loading {
background-color: #000;
height: 100%;
display: flex;
flex-direction: column;
justify-content: flex-end;
padding: 30px;
		// .loading__text

		&__text {
            color: #fff;
            text-align: center;
            font-size: 44px;
            margin-bottom: 1rem;
		}
}
.progress-bar {
    background-color: grey;
    height: 50px;

		// .progress-bar__inner

		&__inner {
            height: 100%;
            width: 50%;
            background-color: lightgrey;
		}
}
